@model Web.Entity.Dto.UserSite.CustomerQueryDto
@{
    ViewBag.Title = "QueryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-body">
    <div class="card-header py-3">
        <b>Details</b>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <tbody>
                <tr>
                    <th>Name </th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Phone Number </th>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <th>Email </th>
                    <td>@Model.EmailAddress</td>
                </tr>
                <tr>
                    <th>Subject </th>
                    <td>@Model.Subject</td>
                </tr>
                <tr>
                    <th>Message </th>
                    <td>@Model.Message</td>
                </tr>
                <tr>
                    <th>Date </th>
                    <td>@Model.CreatedDate</td>
                </tr>
            </tbody>
        </table>
        <a href="/CustomerQuery" class="btn btn-danger"><i class="fa fa-window-close"></i> Close </a>
    </div>
</div>
