@model IEnumerable<Web.Entity.Dto.UnitDto>
@{
    ViewBag.Title = "UnitList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="h5 mb-2 text-gray-800">Unit List</h5>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a href="~/AddUnit" class="btn btn-success btn-sm">
            <i class="fas fa-plus"></i> Add New
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S.N.</th>
                        <th hidden="hidden"></th>
                        <th>Name</th>
                        <th>Nepali Name</th>
                        <th>Symbol</th>
                        <th>Nepali Symbol</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0; }
                    @foreach (var x in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td hidden="hidden">@x.UnitId</td>
                            <td>@x.UnitName</td>
                            <td>@x.UnitNameNepali</td>
                            <td>@x.UnitSymbol</td>
                            <td>@x.UnitSymbolNepali</td>
                            <td>
                                @if (x.Status == true)
                                {
                                    <span class="badge badge-success">Active</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Inactive</span>
                                }
                            </td>
                            <td>
                                <a href="~/ModifyUnit/@x.UnitId" class="btn btn-success btn-circle btn-sm" id="btnEdit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button class="btn btn-danger btn-circle btn-sm" id="btnDelete">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="~/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/assets/js/sb-admin-2.min.js"></script>
<script src="~/assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/assets/custom-plugin/sweetalert.min.js"></script>
<script src="~/assets/custom-plugin/ShowMessage.js"></script>

<script>
    $('#dataTable').DataTable();
</script>

<script>
    $(document).ready(function () {
        $("#dataTable").on('click', '#btnDelete', function () {
            var currentRow = $(this).closest("tr");
            var data = currentRow.find("td:eq(1)").html();

            swal({
                text: "के तपाई यो डाटा मेटाउन चाहनुहुन्छ ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "POST",
                            url: '/Unit/Delete/' + data,
                            success: function (message) {
                                ShowDeleteMessage(message, "/UnitList")
                            },
                            error: function (message) {
                                ShowDeleteMessage(message, "/UnitList")
                            }
                        });
                    }
                });
        });
    })
</script>
