@model IEnumerable<Web.Entity.Dto.MemberDto>
@{
    ViewBag.Title = "MemberList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Web.Entity.Dto.MenuAccessPermissionDto menu = ViewBag.Menus;
}

<h6 class="h6 mb-2 text-gray-800">Member List</h6>
<div class="row">
    <div class="col-md-12">
        <form id="form_validation">
            <fieldset>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label>Approval Status</label>
                            <select class="form-control" id="ApprovalStatus">
                                <option value="1">Approval Pending</option>
                                <option value="2">Approved</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4" id="FormStatusDiv">
                        <div class="form-group">
                            <label>Form Status</label>
                            <select class="form-control" id="FormStatus">
                                <option value="0">Select Status</option>
                                <option value="1">InComplete</option>
                                <option value="2">Complete</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label>Referred By</label>
                            <select class="form-control" id="select2">
                                <option value="">Referred By</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div>
                <button type="submit" id="btnSave" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Clear</button>
            </div>
        </form>
    </div>
</div>
<br />
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S.N.</th>
                        <th hidden="hidden"></th>
                        <th>Full Name</th>
                        <th>Form Status</th>
                        <th>Approval Status</th>
                        <th>Referred By</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0; }
                    @foreach (var x in Model)
                    {
                        //string PermanentAddress = "";
                        //string TemporaryAddress = "";
                        string ReferenceFullName = x.RefernceFirstName + " " + (!string.IsNullOrEmpty(x.ReferenceMiddleName) ? x.ReferenceMiddleName + " " : string.Empty) + x.ReferenceLastName;
                        string FullName = x.FirstName + " " + (!string.IsNullOrEmpty(x.MiddleName) ? x.MiddleName + " " : string.Empty) + x.LastName;
                        //if (x.PermanentIsOutsideNepal == true)
                        //{
                        //    PermanentAddress = x.PermanentAddress + "," +
                        //                        x.PermanentCountryName;
                        //}
                        //else
                        //{
                        //    PermanentAddress = x.PermanentMunicipality + "-" +
                        //        x.PermanentWardNumber + "," + x.PermanentToleName +
                        //        "," + x.PermanentDistrictName;
                        //}
                        //if (x.TemporaryIsOutsideNepal == true)
                        //{
                        //    TemporaryAddress = x.TemporaryAddress + "," +
                        //                                x.TemporaryCountryName;
                        //}
                        //else
                        //{
                        //    TemporaryAddress = x.TemporaryMunicipality + "-" +
                        //         x.TemporaryWardNumber + "," + x.TemporaryToleName +
                        //         "," + x.TemporaryDistrictName;
                        //}
                        i++;
                        <tr>
                            <td>@i</td>
                            <td hidden="hidden">@x.MemberId</td>
                            <td>@FullName</td>

                            <td>@x.FormStatus</td>
                            <td>@x.ApprovalStatus</td>
                            <td>@ReferenceFullName</td>
                            <td>
                                @if (x.IsActive == true)
                                {
                                    <span class="badge badge-success"> Active </span>
                                }
                                else
                                {
                                    <span class="badge badge-danger"> InActive </span>
                                }
                            </td>
                            <td>
                                @if (x.FormStatus ==
                                    Web.Entity.Infrastructure.FormStatus.Complete &&
                                        menu.AdminAccess == true && x.ApprovalStatus ==
                                        Web.Entity.Infrastructure.ApprovalStatus.UnApproved)
                                {
                                    <button class="btn btn-success btn-circle btn-sm"
                                            id="btnApprove">
                                        <i class="fas fa-check"></i>
                                    </button>
                                }
                                @if (x.IsActive == true)
                                {
                                    <a class="btn btn-secondary btn-circle btn-sm" href="#" 
                                       onclick="SendEmail('@x.MemberId')" title="Send Email">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                }
                                <a href="~/MemberDetails/@x.MemberId"
                                   class="btn btn-primary btn-circle btn-sm"
                                   id="btnView">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Approve Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="form_validation">
                            <input type="hidden" name="MemberId"
                                   id="MemberId" />
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="floating-label">Account Head</label>
                                            <select name="AccountHeadId" id="AccountHeadId"
                                                    class="form-control">
                                                <option value="">Select Account Head</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div style="float:right">
                                <button type="submit" id="btnSave" class="btn btn-primary" onclick="SaveData(event)">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/web/back-end/jquery-ui")
@Scripts.Render("~/web/back-end/datatable")
@Scripts.Render("~/web/back-end/message")
<script src="~/assets/custom-plugin/jquery.validate.min.js"></script>
<script src="~/assets/custom/select2/select2.min.js"></script>

<script>
    function SendEmail(id) {
        $.get('/Member/GetEmailCredentials?memberId=' + id, function (resp) {
            window.location.href = "mailto:"+resp.ToEmail+"?body="+resp.Body+"&subject="+resp.Subject;
        })
       
    }
</script>

<script>
    $('#dataTable').DataTable();
    $('#select2').select2();
    $("#ApprovalStatus").change(function () {
        var status = $("#ApprovalStatus").val();
        if (parseInt(status) == 2) {
            $("#FormStatus").prop("selectedIndex", 0);;
            $("#FormStatusDiv").hide();
        }
        else {
            $("#FormStatusDiv").show();
        }
    })
</script>

<script>
    $(document).ready(function () {
        $("#dataTable").on('click', '#btnApprove', function () {
            var currentRow = $(this).closest("tr");
            var data = currentRow.find("td:eq(1)").html();
            $("#MemberId").val(data);
            $("#exampleModal").modal();
            $.ajax({
                type: 'get',
                url: '/Ajax/GetAccountHead',
                success: function (res) {
                    $("#AccountHeadId").empty();
                    $("#AccountHeadId").append("<option value=''>Select Account Head</option>");
                    $.each(res, function (index, row) {
                        $("#AccountHeadId").append("<option value=" + row.Id + ">" + row.Value + "</option>")
                    })
                }
            })
        });
        LoadActiveMembers();
    })

    function SaveData(evt) {
        evt.preventDefault();

        $("#btnSave").prop('disabled', true)
        $("#btnSave span").html('Saving...')
        var MemberId = $("#MemberId").val();
        var AccountHeadId = $("#AccountHeadId").val();
        if (AccountHeadId.length == 0) {
            ShowErrorMessage("Account Head is required");
            return false;
            $("#btnSave").prop('disabled', false)
            $("#btnSave span").html('Save')
        }
        $.ajax({
            type: "POST",
            url: '/Member/ApproveMember',
            data: { MemberId: MemberId, AccountHeadId: AccountHeadId },
            success: function (message) {
                ShowMessage(message, "/MemberList")
                var str = message.split('+');
                //if (parseInt(str[1]) > 0) {
                //    //SendMemberApproveEmail(MemberId);
                //}
            },
            error: function (message) {
                ShowMessage(message, "/MemberList")
            }
        })
    }
   
    //var $checkoutForm = $('#form_validation').validate({
    //    ignore: [],
    //    rules: {
    //        'AccountHeadId': {
    //            required: true,
    //        },
    //    },
    //    submitHandler: function (form) {
    //        $("#btnSave").prop('disabled', true)
    //        $("#btnSave span").html('Saving...')
    //        debugger;
    //        var MemberId = $("#MemberId").val();
    //        var AccountHeadId = $("#AccountHeadId").val();
    //        $.ajax({
    //            type: "POST",
    //            url: '/Member/ApproveMember',
    //            data: { MemberId: MemberId, AccountHeadId: AccountHeadId },
    //            success: function (message) {
    //                ShowMessage(message, "/MemberList")
    //                var str = message.split('+');
    //                //if (parseInt(str[1]) > 0) {
    //                //    //SendMemberApproveEmail(MemberId);
    //                //}
    //            },
    //            error: function (message) {
    //                ShowMessage(message, "/MemberList")
    //            }
    //        })
    //    },

    //    errorPlacement: function errorPlacement(error, element) {
    //        var $parent = $(element).parents('.form-group');

    //        // Do not duplicate errors
    //        if ($parent.find('.jquery-validation-error').length) {
    //            return false;
    //        }

    //        $parent.append(
    //            error.addClass('jquery-validation-error small form-text invalid-feedback')
    //        );
    //    },
    //    highlight: function (element) {
    //        var $el = $(element);
    //        var $parent = $el.parents('.form-group');

    //        $el.addClass('is-invalid');

    //        // Select2 and Tagsinput
    //        if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
    //            $el.parent().addClass('is-invalid');
    //        }

    //    },
    //    unhighlight: function (element) {
    //        $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
    //    }
    //});

    function SendMemberApproveEmail(id) {
        $.ajax({
            type: 'post',
            url: '/Member/SendEmailOnApprove',
            data: { MemberId: id },
            success: function (resp) {

            },
            error: function (resp) {

            }
        })
    }

    function LoadActiveMembers() {
        $('#select2').empty();
        $('#select2').append('<option value="">Referred By</option>');
        $.ajax({
            type: 'get',
            url: "/Member/GetActiveMember",
            success: function (resp) {
                console.log(resp);
                $.each(resp, function (index, row) {
                    $('#select2').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                })
            },
            error: function (resp) {

            }
        })
    }
</script>
