@model Web.Entity.Dto.ProductDto
@{
    ViewBag.Title = "AddModifyProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6 class="h6 mb-2 text-gray-800">Add/Modify Product</h6>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form id="form_validation">
                    <input type="hidden" value="@Model.ProductId" name="ProductId" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="floating-label">Parent Product</label>
                                <select name="ParentProductId" id="ParentProductId"
                                        class="form-control">
                                    <option value="">Select Parent Product</option>
                                    @foreach (var x in Model.GetActiveParentProduct)
                                    {
                                        if (Model.ParentProductId == x.ProductId)
                                        {
                                            <option value="@x.ProductId"
                                                    selected="selected">
                                                @x.ProductName
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@x.ProductId">
                                                @x.ProductName
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input type="text" value="@Model.ProductName"
                                       name="ProductName" placeholder="Product Name"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Product Name Nepali</label>
                                <input type="text" value="@Model.ProductNameNepali"
                                       name="ProductNameNepali"
                                       placeholder="Product Name Nepali"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Product Code</label>
                                <input type="text" value="@Model.ProductCode"
                                       name="ProductCode"
                                       placeholder="Product Code"
                                       class="form-control" />
                            </div>
                        </div>
                      
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (Model.Status == false && Model.ProductId > 0)
                                        {
                                            <input class="form-check-input" name="Status" value="true" type="checkbox" />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="Status" value="true" type="checkbox" checked="checked" />
                                        }
                                        Is Active
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="submit" id="btnSave" name="SaveButton" class="btn btn-primary btn-md"><i class="fa fa-save"></i> <span>Save</span> </button>
                    <a href="/ProductList" class="btn btn-danger"><i class="fa fa-window-close"></i> Close</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/assets/js/sb-admin-2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="~/assets/custom-plugin/sweetalert.min.js"></script>
<script src="~/assets/custom-plugin/ShowMessage.js"></script>

<script>
    var $checkoutForm = $('#form_validation').validate({
        ignore: [],
        rules: {
            'ProductName': {
                required: true,
                maxlength: 200
            },
            'ProductCode': {
                required: true,
                maxlength: 30,
            },
            'ProductNameNepali': {
                required: true,
                maxlength: 400,
            },
        },
        submitHandler: function (form) {
            $("#btnSave").prop('disabled', true)
            $("#btnSave span").html('Saving...')

            var id = $('input[name="ProductId"').val();
            var parentId = $('#ParentProductId').val();
            var url = "/Product/Insert";
            if (parseInt(id) > 0) {
                url = "/Product/Update";
            }
            
            $.ajax({
                type: "POST",
                url: url,
                data: $("#form_validation").serialize(),
                success: function (message) {
                    var split = message.split('+');
                    var returnUrl = "/ProductList";
                    if (parseInt(parentId) > 0) {
                        returnUrl = "/ProductPrice/" + split[1];
                    }
                    ShowMessage(message, returnUrl)
                },
                error: function (message) {
                    ShowMessage(message, "/ProductList")
                }
            })
        },

        errorPlacement: function errorPlacement(error, element) {
            var $parent = $(element).parents('.form-group');

            // Do not duplicate errors
            if ($parent.find('.jquery-validation-error').length) {
                return false;
            }

            $parent.append(
                error.addClass('jquery-validation-error small form-text invalid-feedback')
            );
        },
        highlight: function (element) {
            var $el = $(element);
            var $parent = $el.parents('.form-group');

            $el.addClass('is-invalid');

            // Select2 and Tagsinput
            if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                $el.parent().addClass('is-invalid');
            }

        },
        unhighlight: function (element) {
            $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
        }
    });

    function AllowPositiveNumber(event) {
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    }
</script>

