
@{
    ViewBag.Title = "MemberRegistration";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<link href="~/assets/css/multi-tier-form/form-wizard.css" rel="stylesheet" />
<link href="~/assets/custom-plugin/form-validation.css" rel="stylesheet" />
<style>
    .py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .text-decoration-none {
        margin-bottom: 2%;
    }

    #wizard_div {
        margin-top: -65px;
    }
</style>



<section class="service-wrapper py-3">
    <div class="service-tag py-5 bg-secondary">
        <div class="col-md-12">
            <ul class="nav d-flex justify-content-center">
                <li class="nav-item mx-lg-4">
                    <p class=" text-light px-4 light-300">Registeration form</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="container py-5">
    <div class="container-fluid" id="wizard_div">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <div id="msform">
                        <p>Fill all form field to go to next step</p>
                        <ul id="progressbar">
                            <li class="step1 active" id="basic">
                                <strong>Basic</strong>
                            </li>
                            <li class="step2" id="contact"><strong>Contact</strong></li>
                            <li class="step3" id="address"><strong>Address</strong></li>
                            <li class="step4" id="occupation">
                                <strong>Occupation</strong>
                            </li>
                            <li class="step5" id="document"><strong>Documents</strong></li>
                            <li class="step6" id="payment"><strong>Payment</strong></li>
                            <li class="step7" id="confirm"><strong>Confirmation</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <!-- progressbar -->
                        <!-- step 1 basic information -->
                        <form id="step1">
                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Basic Information:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 1 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 form-group">
                                            <label class="fieldlabels">
                                                FirstName:
                                            </label>
                                            <input type="text" name="FirstName"
                                                   placeholder="First Name"
                                                   class="form-control"/>
                                        </div>
                                        <div class="col-sm-4 col-md-4 form-group">
                                            <label class="fieldlabels">
                                                MiddleName:
                                            </label>
                                            <input type="text" name="MiddleName"
                                                   placeholder="Middle Name"
                                                   class="form-control"
                                                   autocomplete="off" />
                                        </div>
                                        <div class="col-sm-4 col-md-4 form-group">
                                            <label class="fieldlabels">
                                                Last Name:
                                            </label>
                                            <input type="text" name="LastName"
                                                   class="form-control"
                                                   placeholder="Last Name" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Gender:
                                            </label>
                                            <select class="form-control" name="GenderId" 
                                                id="GenderId">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Date of Birth:
                                            </label>
                                            <input type="text" name="DateOfBirthBS"
                                                   placeholder="YYYY-MM-DD"
                                                   class="form-control"
                                                   autocomplete="off" id="DateOfBirthBS"
                                                   onkeypress="AllowForDate(event)"
                                                   oninput="AllowForDate(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Citizenship Number:
                                            </label>
                                            <input type="text" class="form-control"
                                                   name="CitizenshipNumber"
                                                   placeholder="CitizenshipNumber" />
                                        </div>

                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next" class="next action-button" value="Next Step" />
                        </form>

                        <!-- step 2 contact details -->
                        <form id="step2">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Contact Details:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 2 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Mobile Number:
                                            </label>
                                            <input type="text" name="MobileNumber"
                                                   placeholder="Mobile Number"
                                                   onkeypress="AllowNumberOnly(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Email Address:
                                            </label>
                                            <input type="text" name="Email"
                                                   placeholder="Email Address" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 3 address details -->
                        <form id="step3">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Address Details:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 3 - 6</h2>
                                        </div>
                                    </div>
                                    <h4 style="color:blueviolet">Permanent Address</h4><br />
                                    <div>
                                        <label class="fieldlabels">
                                            Is Outside Nepal ?
                                        </label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="PermanentRadio"
                                                       class="form-check-input"
                                                       id="PermanentRadio" value="true"> Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="PermanentRadio"
                                                       class="form-check-input"
                                                       checked="checked"
                                                       id="PermanentRadio" value="false"> No
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row" id="permanentInsideNepalAddress">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Province:
                                            </label>
                                            <select class="form-control province"
                                                    id="permanentProvince">
                                                <option value="" selected="selected">
                                                    Select Province
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                District:
                                            </label>
                                            <select class="form-control"
                                                    id="permanentDistrict">
                                                <option value="" selected="selected">
                                                    Select District
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Municipality/RM:
                                            </label>
                                            <select class="form-control"
                                                    id="permanentMunicipalityType">
                                                <option value="" selected="selected">
                                                    Select Type
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                RM/Municipality Name:
                                            </label>
                                            <input type="text" name="PermanentMunicipality"
                                                   placeholder="RM/Municipality" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Ward Number:
                                            </label>
                                            <input type="text" name="PermanentWardNumber"
                                                   placeholder="Ward Number"
                                                   onkeypress="AllowNumberOnly(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Tole Name:
                                            </label>
                                            <input type="text" name="PermanentToleName"
                                                   placeholder="Tole Name" />
                                        </div>
                                    </div>
                                    <div class="row" id="permanentOutsideNepalAddress">

                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Country:
                                            </label>
                                            <select class="form-control country"
                                                    id="permanentCountry">
                                                <option value="" selected="selected">
                                                    Select Country
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Address:
                                            </label>
                                            <input type="text" name="PermanentAddress"
                                                   placeholder="Address" />
                                        </div>
                                    </div>

                                    <h4 style="color:blueviolet">Temporary Address</h4><br />
                                    <div>
                                        <label class="fieldlabels">
                                            Is Outside Nepal ?
                                        </label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="TempRadio"
                                                       class="form-check-input"
                                                       id="TempRadio" value="true"> Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="TempRadio"
                                                       class="form-check-input"
                                                       checked="checked"
                                                       id="TempRadio" value="false"> No
                                            </label>
                                        </div>
                                    </div><br />

                                    <div class="row" id="tempInsideNepalAddress">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Province:
                                            </label>
                                            <select class="form-control province"
                                                    id="tempProvince">
                                                <option value="" selected="selected">
                                                    Select Province
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                District:
                                            </label>
                                            <select class="form-control"
                                                    id="tempDistrict">
                                                <option value="" selected="selected">
                                                    Select District
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Municipality/RM :
                                            </label>
                                            <select class="form-control"
                                                    id="tempMunicipalityType">
                                                <option value="" selected="selected">
                                                    Select Type
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                RM/Municipality Name:
                                            </label>
                                            <input type="text" name="TemporaryMunicipality"
                                                   placeholder="RM/Municipality" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Ward Number:
                                            </label>
                                            <input type="text" name="TemporaryWardNumber"
                                                   placeholder="Ward Number"
                                                   onkeypress="AllowNumberOnly(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Tole Name:
                                            </label>
                                            <input type="text" name="TemporaryToleName"
                                                   placeholder="Tole Name" />
                                        </div>
                                    </div>
                                    <div class="row" id="tempOutsideNepalAddress">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Country:
                                            </label>
                                            <select class="form-control country"
                                                    id="tempCountry">
                                                <option value="" selected="selected">
                                                    Select Country
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Address:
                                            </label>
                                            <input type="text" name="TemporaryAddress"
                                                   placeholder="Address" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 4 occupational information -->
                        <form id="step4">
                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Occupation Details :</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 4 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Occupation :
                                            </label>
                                            <select class="form-control" id="occupationList">
                                                <option value="">Occupation</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group"
                                             id="occupationDiv">
                                            <label class="fieldlabels">
                                                Other Occupation:
                                            </label>
                                            <input type="text" name="OtherOccupationRemarks"
                                                   placeholder="Occupation Remarks" />
                                        </div>

                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Intersted In :
                                            </label>
                                            <select class="form-control" id="memberField">
                                                <option value="">Interested Field</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 5 uplaod document -->
                        <form id="step5">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Upload Document:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 5 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Upload Your Photo:
                                            </label>
                                            <input type="file" name="Photo" />

                                        </div>

                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Citizenship Front:
                                            </label>
                                            <input type="file" name="CitizenFront" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Citizenship Back:
                                            </label>
                                            <input type="file" name="CitizenBack" />
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 6 payment -->
                        <form id="step6">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Payment:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 6 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Amount:
                                            </label>
                                            <input type="text" name="Amount"
                                                   placeholder="Amount"
                                                   onkeypress="AllowPositiveNumber(event)" />
                                        </div>
                                        <div class="col-sm-12 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Upload Payment voucher / Online payment proof:
                                            </label>
                                            <input type="file" name="payment" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>
                        <form id="step7">
                            <h2 class="purple-text text-center">
                                <strong>
                                    SUCCESS !
                                </strong>
                            </h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <img src="https://i.imgur.com/GwStPmg.png"
                                         class="fit-image">
                                </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">
                                        You Have
                                        Successfully Signed Up
                                    </h5>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/front-end/js/jquery.min.js"></script>
<script src="~/assets/custom-plugin/jquery.validate.min.js"></script>
@*@Scripts.Render("~/web/nepali-date-picker")*@
@Scripts.Render("~/web/back-end/message")

<script>
    $(document).ready(function () {
        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("#msform form ").length;
        setProgressBar(current);
        loadGenderList();
        $("#permanentOutsideNepalAddress").hide();
        $("#tempOutsideNepalAddress").hide();

        $(".next").click(function () {
            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            var test = formValidationAndSubmission(current);
            if (test == false) {
                return false;
            }

            //Add Class Active
            $("#progressbar li").eq($("form").index(next_fs)).addClass("active");
            //show the next fieldset
            next_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;
                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(++current);
            loadData(current);
        });

        $(".previous").click(function () {
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("form").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
            loadData(current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })

    });
</script>
<script>
    function loadData(current) {
        if (current == 3) {
            loadProvinceList();
            loadMunicipalityTypeList();
        }
         if (current == 1) {
             loadGenderList();
        }
        if (current == 4) {
            $('#occupationDiv').hide();
            loadOccupationList();
            loadMemberFieldList();
        }
    }

    function loadGenderList() {
        var gender = $("#GenderId").val();
        if (gender.length == 0) {
                $.ajax({
		        url: '@Url.Action("GetGender", "Ajax")',
		        type: 'get',
                async: true,
                cache: false,
                processData: false,
		        contentType: 'application/json',
                success: function (response) {
                    $('#GenderId').empty();
                    $.each(response, function (index, row) {
                        $('#GenderId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                    });
		        },
		        error: function (error) {
		        }
	        });
        }

    }

    function loadProvinceList() {
        var permanentProvince = $("#permanentProvince").val();
        var tempProvince = $("#tempProvince").val();
        if (permanentProvince.length == 0 || tempProvince.length == 0) {
            $.ajax({
		    url: '@Url.Action("GetProvince", "Ajax")',
		    type: 'get',
            async: true,
            cache: false,
            processData: false,
		    contentType: 'application/json',
            success: function (response) {
                if (permanentProvince.length == 0) {
                    $('#permanentProvince').empty();
                    $('#permanentProvince').append('<option value="">Select Province</option>');
                    $.each(response, function (index, row) {
                        $('#permanentProvince').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                    });
                }
                if (tempProvince.length == 0) {
                    $('#tempProvince').empty();
                    $('#tempProvince').append('<option value="">Select Province</option>');
                    $.each(response, function (index, row) {
                        $('#tempProvince').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                    });
                }
		    },
		    error: function (error) {
			    alert(error.statusText);
		    }
	    });
        }

    }

    function loadMunicipalityTypeList() {
         var permanentMunicipalityType = $("#permanentMunicipalityType").val();
        var tempMunicipalityType = $("#tempMunicipalityType").val();
        if (permanentMunicipalityType.length == 0 || tempMunicipalityType.length == 0) {
            $.ajax({
		        url: '@Url.Action("GetMunicipalityType", "Ajax")',
		        type: 'get',
                async: true,
                cache: false,
                processData: false,
		        contentType: 'application/json',
                success: function (response) {
                    if (permanentMunicipalityType.length == 0) {
                        $('#permanentMunicipalityType').empty();
                        $('#permanentMunicipalityType').append('<option value="">Select Type</option>');
                        $.each(response, function (index, row) {
                            $('#permanentMunicipalityType').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                        });
                    }
                    if (tempMunicipalityType.length == 0) {
                        $('#tempMunicipalityType').empty();
                        $('#tempMunicipalityType').append('<option value="">Select Type</option>');
                        $.each(response, function (index, row) {
                            $('#tempMunicipalityType').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                        });
                    }
		        },
		        error: function (error) {
		        }
	        });
        }
    }

    function loadOutsideCountryList() {
        var permanentCountry = $("#permanentCountry").val();
        var tempCountry = $("#tempCountry").val();
        if (permanentCountry.length == 0 || tempCountry.length == 0) {
                $.ajax({
		        url: '@Url.Action("GetOutsideCountry", "Ajax")',
		        type: 'get',
                async: true,
                cache: false,
                processData: false,
		        contentType: 'application/json',
                success: function (response) {
                    if (permanentCountry.length == 0) {
                        $('#permanentCountry').empty();
                        $('#permanentCountry').append('<option value="">Select Country</option>');
                        $.each(response, function (index, row) {
                            $('#permanentCountry').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                        });
                    }
                    if (tempCountry.length == 0) {
                        $('#tempCountry').empty();
                        $('#tempCountry').append('<option value="">Select Country</option>');
                        $.each(response, function (index, row) {
                            $('#tempCountry').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                        });
                    }
		        },
		        error: function (error) {
			        //alert(error.statusText);
		        }
	        });
        }

    }

    function loadMemberFieldList() {
        var memberField = $("#memberField").val();
         if (memberField.length == 0) {
                $.ajax({
		        url: '@Url.Action("GetMemberField", "Ajax")',
		        type: 'get',
                async: true,
                cache: false,
                processData: false,
		        contentType: 'application/json',
                success: function (response) {
                    $('#memberField').empty();
                    $('#memberField').append('<option value="">Interested Field</option>');
                    $.each(response, function (index, row) {
                        $('#memberField').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                    });
		        },
		        error: function (error) {
		        }
	        });
        }
    }

    function loadOccupationList() {
        var occupation = $("#occupationList").val();
        if (occupation.length == 0) {
            $.ajax({
		        url: '@Url.Action("GetOccupation", "Ajax")',
		        type: 'get',
                async: true,
                cache: false,
                processData: false,
		        contentType: 'application/json',
                success: function (response) {
                    debugger;
                    $('#occupationList').empty();
                    $('#occupationList').append('<option value="">Select Occupation</option>');
                    $.each(response, function (index, row) {
                        console.log(row);
                        $('#occupationList').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                    });
		        },
                    error: function (error) {

		        }
	        });
        }
    }

    $("#occupationList").change(function () {
        var data = $("#occupationList option:selected").text();
        if (data.toLocaleLowerCase() == "other") {
            $('#occupationDiv').show();
        }
        else {
            $('#occupationDiv').hide();
        }
    })

    $('.province').change(function () {
        var provinceId = $(this).val();
        var idName = $(this).attr('id');
        loadDistrictList(provinceId, idName);
    });

     function loadDistrictList(provinceId, idName) {
         $.ajax({
             url: '@Url.Action("GetDistrictByProvinceId", "Ajax")?provinceId=' + provinceId,
             data: { provinceId: provinceId },
             type: 'get',
             async: true,
             cache: false,
             processData: false,
             contentType: 'application/json',
             success: function (response) {
                 if (idName.toLowerCase() == 'permanentprovince') {
                     $('#permanentDistrict').empty();
                     $('#permanentDistrict').append('<option value="">Select District</option>');
                     $.each(response, function (index, row) {
                         console.log(row);
                         $('#permanentDistrict').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                     });
                 }
                 if (idName.toLowerCase() == 'tempprovince') {
                     $('#tempDistrict').empty();
                     $('#tempDistrict').append('<option value="">Select District</option>');
                     $.each(response, function (index, row) {
                         console.log(row);
                         $('#tempDistrict').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                     });
                 }
             },
             error: function (error) {
                 alert(error.statusText);
             }
         });
    }

    $("input[type='radio']").click(function () {
        var id = $(this).attr('id');
        if (id.toLowerCase() == "permanentradio") {
            var checked = $("input[name='PermanentRadio']:checked").val();
            if (checked == "true") {
             clearPermanentInsideAddressData();
                $("#permanentInsideNepalAddress").hide();
                $("#permanentOutsideNepalAddress").show();
                loadOutsideCountryList();
             }
            else {
                clearPermanentOutsideAddressData();
                $("#permanentInsideNepalAddress").show();
                $("#permanentOutsideNepalAddress").hide();
            }
        }

        else if (id.toLowerCase() == "tempradio") {
            var checked = $("input[name='TempRadio']:checked").val();
            if (checked == "true") {
                clearTempInsideAddressData();
                $("#tempInsideNepalAddress").hide();
                $("#tempOutsideNepalAddress").show();
                loadOutsideCountryList();
            }
            else {
                clearTempOutsideAddressData();
                $("#tempInsideNepalAddress").show();
                $("#tempOutsideNepalAddress").hide();
            }
        }
    })

    function clearPermanentInsideAddressData() {
        $("#permanentProvince").val($("#permanentProvince option:first").val());
        $('#permanentDistrict').empty();
        $('#permanentDistrict').append('<option value=""> Select District </option>')

        $("#permanentMunicipalityType").val($("#permanentMunicipalityType option:first").val());
        $("input[name='PermanentMunicipality']").val('');
        $("input[name='PermanentWardNumber']").val('');
        $("input[name='PermanentToleName']").val('');
    }

    function clearPermanentOutsideAddressData() {
        $("#permanentCountry").val($("#permanentCountry option:first").val());
        $("input[name='PermanentAddress']").val('');
    }

    function clearTempInsideAddressData() {
        $("#tempProvince").val($("#tempProvince option:first").val());
        $('#tempDistrict').empty();
        $('#tempDistrict').append('<option value=""> Select District </option>')

        $("#tempMunicipalityType").val($("#tempMunicipalityType option:first").val());
        $("input[name='TemporaryMunicipality']").val('');
        $("input[name='TemporaryWardNumber']").val('');
        $("input[name='TemporaryToleName']").val('');
    }

    function clearTempOutsideAddressData() {
        $("#tempCountry").val($("#tempCountry option:first").val());
        $("input[name='TemporaryAddress']").val('');
    }

</script>

<script>
    function formValidationAndSubmission(current) {
        if (current == 1) {
            var valid=FirstNameValidation();
            var valid1 =MiddleNameValidation();
            var valid2 = LastNameValidation();
            var valid3 = GenderIdValidation();
            if (valid == false || valid1 == false || valid2 == false || valid3 == false)
                return false;
        }
        return true;
    }
    
</script>



<!--form validation on event-->
<script>
    $(this).keyup(function (event) {
        var name = $(event.target).attr("name");
        var functionName = name + 'Validation';
        window[functionName]();
    })
</script>

<!--form validation-->
<script>
    function FirstNameValidation() {
        var FirstName = $('input[name="FirstName"]');
        var isValid = RequiredHandling(FirstName);
        if (isValid == false) {
            FirstName.focus();
            return false;
        }
        isValid = MaxlengthHandling(FirstName, 20);
        if (isValid == false) {
            FirstName.focus();
            return false;
        }
        return true
    }
    function MiddleNameValidation() {
        var MiddleName = $('input[name="MiddleName"]');
        var isValid = RequiredHandling(MiddleName);
        if (isValid == false) {
            MiddleName.focus();
            return false;
        }
        isValid = MaxlengthHandling(MiddleName, 20);
        if (isValid == false) {
            MiddleName.focus();
            return false;
        }
        return true
    }
    function LastNameValidation() {
        var LastName = $('input[name="LastName"]');
        var isValid = RequiredHandling(LastName);
        if (isValid == false) {
            LastName.focus();
            return false;
        }
        isValid = MaxlengthHandling(LastName, 20);
        if (isValid == false) {
            LastName.focus();
            return false;
        }
        return true
    }
    function GenderIdValidation() {
        var GenderId = $('#GenderId');
        var isValid = RequiredHandling(GenderId);
        if (isValid == false) {
            GenderId.focus();
            return false;
        }
        return true;
    }
</script>

<!--form validation attributes-->
<script>
    function RequiredHandling(element) {
        var $el = $(element);
        removeErrorClasses(element);
        if (!$el.val()) {
            AddErrorClasses(element)
            AddErrorMessage(element,
                $el.attr('name') + ' is required ')
            return false;
        }
        return true;
    }
    function MaxlengthHandling(element, length) {
        var $el = $(element);
        removeErrorClasses(element);
        if ($el.val().length > length) {
            AddErrorClasses(element)
            AddErrorMessage(element,
                $el.attr('name') + ' must be less than ' + length);
            return false;
        }
        return true;
    }
</script>

<!--Error message handling and class handling-->
<script>
    function removeErrorClasses(element) {
        var $el = $(element);
        $el.parent().addClass('form-group').removeClass('error');
        $el.parent().removeClass('.error-message');
        $el.parent().find('.error-message').remove();
    }
    function AddErrorClasses(element) {
        var $el = $(element);
        $el.parent().removeClass('form-group');
        $el.parent().addClass('error');
    }
    function AddErrorMessage(element, message) {
        var $el = $(element);
        $el.parent().append('<label class="error-message">' + message + '</label>');
    }
</script>



