
@{
    ViewBag.Title = "MemberRegistration";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<link href="~/assets/css/multi-tier-form/form-wizard.css" rel="stylesheet" />
<link href="~/assets/custom-plugin/form-validation.css" rel="stylesheet" />
<style>
    .py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .text-decoration-none {
        margin-bottom: 2%;
    }

    #wizard_div {
        margin-top: -65px;
    }
</style>



<section class="service-wrapper py-3">
    <div class="service-tag py-5 bg-secondary">
        <div class="col-md-12">
            <ul class="nav d-flex justify-content-center">
                <li class="nav-item mx-lg-4">
                    <p class=" text-light px-4 light-300">Registeration form</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="container py-5">
    <div class="container-fluid" id="wizard_div">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <div id="msform">
                        <p>Fill all form field to go to next step</p>
                        <ul id="progressbar">
                            <li class="step1 active" id="basic">
                                <strong>Basic</strong>
                            </li>
                            <li class="step2" id="contact"><strong>Contact</strong></li>
                            <li class="step3" id="address"><strong>Address</strong></li>
                            <li class="step4" id="occupation">
                                <strong>Occupation</strong>
                            </li>
                            <li class="step5" id="document"><strong>Documents</strong></li>
                            <li class="step6" id="payment"><strong>Payment</strong></li>
                            <li class="step7" id="confirm"><strong>Confirmation</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <!-- progressbar -->
                        <!-- step 1 basic information -->
                        <input type="hidden" value="9" id="MemberId" />
                        <form id="step1">
                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Basic Information:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 1 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 form-group">
                                            <label class="fieldlabels">
                                                FirstName:
                                            </label>
                                            <input type="text" name="FirstName"
                                                   id="FirstName"
                                                   placeholder="First Name"
                                                   class="form-control" />
                                        </div>
                                        <div class="col-sm-4 col-md-4 form-group">
                                            <label class="fieldlabels">
                                                MiddleName:
                                            </label>
                                            <input type="text" name="MiddleName"
                                                   id="MiddleName"
                                                   placeholder="Middle Name"
                                                   class="form-control"
                                                   autocomplete="off" />
                                        </div>
                                        <div class="col-sm-4 col-md-4 form-group">
                                            <label class="fieldlabels">
                                                Last Name:
                                            </label>
                                            <input type="text" name="LastName"
                                                   id="LastName"
                                                   class="form-control"
                                                   placeholder="Last Name" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Gender:
                                            </label>
                                            <select class="form-control" name="GenderId"
                                                    id="GenderId">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Date of Birth:
                                            </label>
                                            <input type="text" name="DateOfBirthBS"
                                                   placeholder="YYYY-MM-DD"
                                                   class="form-control"
                                                   autocomplete="off" id="DateOfBirthBS"
                                                   onkeypress="AllowForDate(event)"
                                                   oninput="AllowForDate(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Citizenship Number:
                                            </label>
                                            <input type="text" class="form-control"
                                                   name="CitizenshipNumber"
                                                   id="CitizenshipNumber"
                                                   placeholder="CitizenshipNumber" />
                                        </div>

                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next" class="next action-button" value="Next Step" />
                        </form>

                        <!-- step 2 contact details -->
                        <form id="step2">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Contact Details:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 2 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Mobile Number:
                                            </label>
                                            <input type="text" name="MobileNumber"
                                                   id="MobileNumber"
                                                   class="form-control"
                                                   placeholder="Mobile Number"
                                                   onkeypress="AllowNumberOnly(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Email Address:
                                            </label>
                                            <input type="text" name="Email"
                                                   class="form-control"
                                                   id="Email"
                                                   placeholder="Email Address" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 3 address details -->
                        <form id="step3">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Address Details:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 3 - 6</h2>
                                        </div>
                                    </div>
                                    <h4 style="color:blueviolet">Permanent Address</h4><br />
                                    <div>
                                        <label class="fieldlabels">
                                            Is Outside Nepal ?
                                        </label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="PermanentIsOutsideNepal"
                                                       class="form-check-input"
                                                       id="PermanentRadio" value="true"> Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="PermanentIsOutsideNepal"
                                                       class="form-check-input"
                                                       checked="checked"
                                                       id="PermanentRadio" value="false"> No
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row" id="permanentInsideNepalAddress">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Province:
                                            </label>
                                            <select class="form-control province"
                                                    name="PermanentProvinceId"
                                                    id="PermanentProvinceId">
                                                <option value="" selected="selected">
                                                    Select Province
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                District:
                                            </label>
                                            <select class="form-control"
                                                    name="PermanentDistrictId"
                                                    id="PermanentDistrictId">
                                                <option value="" selected="selected">
                                                    Select District
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Municipality/RM:
                                            </label>
                                            <select class="form-control"
                                                    name="PermanentMunicipalityTypeId"
                                                    id="PermanentMunicipalityTypeId">
                                                <option value="" selected="selected">
                                                    Select Type
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                RM/Municipality Name:
                                            </label>
                                            <input type="text"
                                                   id="PermanentMunicipality"
                                                   class="form-control"
                                                   name="PermanentMunicipality"
                                                   placeholder="RM/Municipality Name" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Ward Number:
                                            </label>
                                            <input type="text"
                                                   id="PermanentWardNumber"
                                                   name="PermanentWardNumber"
                                                   placeholder="Ward Number"
                                                   class="form-control"
                                                   onkeypress="AllowNumberOnly(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Tole Name:
                                            </label>
                                            <input type="text" id="PermanentToleName"
                                            name="PermanentToleName" class="form-control"
                                            placeholder="Tole Name" />
                                        </div>
                                    </div>
                                    <div class="row" id="permanentOutsideNepalAddress">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Country:
                                            </label>
                                            <select class="form-control country"
                                                    name="PermanentCountryId"
                                                    id="PermanentCountryId">
                                                <option value="" selected="selected">
                                                    Select Country
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Address:
                                            </label>
                                            <input type="text" id="PermanentAddress"
                                                   class="form-control"
                                                   name="PermanentAddress"
                                                   placeholder="Address" />
                                        </div>
                                    </div>

                                    <h4 style="color:blueviolet">Temporary Address</h4><br />
                                    <div>
                                        <label class="fieldlabels">
                                            Is Outside Nepal ?
                                        </label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="TemporaryIsOutsideNepal"
                                                       class="form-check-input"
                                                       id="TempRadio" value="true"> Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="TemporaryIsOutsideNepal"
                                                       class="form-check-input"
                                                       checked="checked"
                                                       id="TempRadio" value="false"> No
                                            </label>
                                        </div>
                                    </div><br />

                                    <div class="row" id="tempInsideNepalAddress">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Province:
                                            </label>
                                            <select class="form-control province"
                                                    id="TemporaryProvinceId"
                                                    name="TemporaryProvinceId">
                                                <option value="" selected="selected">
                                                    Select Province
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                District:
                                            </label>
                                            <select class="form-control"
                                                    name="TemporaryDistrictId"
                                                    id="TemporaryDistrictId">
                                                <option value="" selected="selected">
                                                    Select District
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Municipality/RM :
                                            </label>
                                            <select class="form-control"
                                                    name="TemporaryMunicipalityTypeId"
                                                    id="TemporaryMunicipalityTypeId">
                                                <option value="" selected="selected">
                                                    Select Type
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                RM/Municipality Name:
                                            </label>
                                            <input type="text"
                                              id="TemporaryMunicipality" class="form-control"
                                                   name="TemporaryMunicipality"
                                                   placeholder="RM/Municipality" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Ward Number:
                                            </label>
                                            <input type="text" name="TemporaryWardNumber"
                                               id="TemporaryWardNumber" class="form-control"
                                                   placeholder="Ward Number"
                                                   onkeypress="AllowNumberOnly(event)" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Tole Name:
                                            </label>
                                            <input type="text" name="TemporaryToleName"
                                            class="form-control" id="TemporaryToleName"
                                                   placeholder="Tole Name" />
                                        </div>
                                    </div>
                                    <div class="row" id="tempOutsideNepalAddress">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Country:
                                            </label>
                                            <select class="form-control country"
                                                    name="TemporaryCountryId"
                                                    id="TemporaryCountryId">
                                                <option value="" selected="selected">
                                                    Select Country
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Address:
                                            </label>
                                            <input type="text" class="form-control"
                                             name="TemporaryAddress" id="TemporaryAddress"
                                                   placeholder="Address" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 4 occupational information -->
                        <form id="step4">
                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Occupation Details :</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 4 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Occupation :
                                            </label>
                                            <select class="form-control" name="OccupationId"
                                                    id="OccupationId">
                                                <option value="">Occupation</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group"
                                             id="occupationDiv">
                                            <label class="fieldlabels">
                                                Other Occupation:
                                            </label>
                                            <input type="text" id="OtherOccupationRemarks"
                                                   class="form-control"
                                               name="OtherOccupationRemarks"
                                                   placeholder="Occupation Remarks" />
                                        </div>

                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Intersted In :
                                            </label>
                                            <select class="form-control" name="MemberFieldId"
                                                    id="MemberFieldId">
                                                <option value="">Interested Field</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 5 uplaod document -->
                        <form id="step5">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Upload Document:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 5 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Upload Your Photo:
                                            </label>
                                            <input type="file" name="MemberImage" 
                                                 id="MemberImage"
                                                   class="form-control MemberPhoto"/>
                                            <input type="hidden" name="MemberPhoto" 
                                                id="MemberPhoto" />
                                        </div>

                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Citizenship Front:
                                            </label>
                                            <input type="file"
                                                   class="form-control CitizenshipFront"
                                             id="CitizenshipFrontImage"
                                                   name="CitizenshipFrontImage" />
                                            <input type="hidden" name="CitizenshipFront" 
                                                id="CitizenshipFront" />
                                        </div>
                                        <div class="col-sm-6 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Citizenship Back:
                                            </label>
                                            <input type="file" name="CitizenshipBackImage" 
                                             class="form-control CitizenshipBack"
                                                   id="CitizenshipBackImage"/>
                                            <input type="hidden" name="CitizenshipBack"
                                                   id="CitizenshipBack"/>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>

                        <!-- step 6 payment -->
                        <form id="step6">
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Payment:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 6 - 6</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Amount:
                                            </label>
                                            <input type="text" name="Amount"
                                                   placeholder="Amount"
                                                   onkeypress="AllowPositiveNumber(event)" />
                                        </div>
                                        <div class="col-sm-12 col-md-6 form-group">
                                            <label class="fieldlabels">
                                                Upload Payment voucher / Online payment proof:
                                            </label>
                                            <input type="file" name="payment" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>
                        <form id="step7">
                            <h2 class="purple-text text-center">
                                <strong>
                                    SUCCESS !
                                </strong>
                            </h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <img src="https://i.imgur.com/GwStPmg.png"
                                         class="fit-image">
                                </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">
                                        You Have
                                        Successfully Signed Up
                                    </h5>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/web/back-end/jquery-ui")
@Scripts.Render("~/web/back-end/message")
<script src="~/assets/custom/custom.js"></script>

<!--convert photo to string ends-->

<!--Data load starts-->
<script>
    function loadFieldData() {
        var memberId = $("#MemberId").val();
        if (parseInt(memberId) == 0)
            return false;
        $.ajax({
            type: 'get',
            url: '/MemberRegister/GetMemberById',
            data: { id: memberId },
            success: function (res) {
                $("#FirstName").val(res.FirstName);
                $("#MiddleName").val(res.MiddleName);
                $("#LastName").val(res.LastName);
                $("#CitizenshipNumber").val(res.CitizenshipNumber);
                $("#GenderId").val(res.GenderId);
                $("#DateOfBirthBS").val(res.DateOfBirthBS);
                $("#MobileNumber").val(res.MobileNumber);
                $("#Email").val(res.Email);
            }
        })
    }
    function loadOccupation() {
        var memberId = $("#MemberId").val();
        $.ajax({
            type: 'get',
            url: '/MemberRegister/GetMemberById',
            data: { id: memberId },
            success: function (res) {
                $("#OccupationId").val(res.OccupationId);
                if (res.OccupationId == 4) {
                    $("#OtherOccupationRemarks").val(res.OtherOccupationRemarks);
                    $("#occupationDiv").show();
                }
                else {
                    $("#OtherOccupationRemarks").val('');
                    $("#occupationDiv").hide();
                }
                $("#MemberFieldId").val(res.MemberFieldId);
            }
        })
    }
    function loadData(current) {
         if (current == 1) {
             loadGenderList();
         }
        if (current == 2) {
            loadOutsideCountryList();
            loadMunicipalityTypeList();
        }
        if (current == 3) {
            loadProvinceList();
            loadAddress();
            loadOccupationList();
            loadMemberFieldList();
        }
        if (current == 4) {
            $('#occupationDiv').hide();
            loadOccupation();
        }
    }

    //data load for step1 starts
     function loadGenderList() {
        var gender = $("#GenderId").val();
        if (gender.length == 0) {
                $.ajax({
		        url: '@Url.Action("GetGender", "Ajax")',
		        type: 'get',
                async: true,
                cache: false,
                processData: false,
		        contentType: 'application/json',
                success: function (response) {
                    $('#GenderId').empty();
                    $.each(response, function (index, row) {
                        $('#GenderId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                    });
		        },
		        error: function (error) {
		        }
	        });
        }

    }
    //data load for step1 ends

     //data load for step3 starts
    function loadProvinceList() {
        var permanentProvince = $("#PermanentProvinceId").val();
        var tempProvince = $("#TemporaryProvinceId").val();
        if (permanentProvince.length == 0 || tempProvince.length == 0) {
            $.ajax({
		    url: '@Url.Action("GetProvince", "Ajax")',
		    type: 'get',
            async: true,
            cache: false,
            processData: false,
		    contentType: 'application/json',
            success: function (response) {
                if (permanentProvince.length == 0) {
                    $('#PermanentProvinceId').empty();
                    $('#PermanentProvinceId').append('<option value="">Select Province</option>');
                    $.each(response, function (index, row) {
                        $('#PermanentProvinceId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                    });
                }
                if (tempProvince.length == 0) {
                    $('#TemporaryProvinceId').empty();
                    $('#TemporaryProvinceId').append('<option value="">Select Province</option>');
                    $.each(response, function (index, row) {
                        $('#TemporaryProvinceId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                    });
                }
		    },
		    error: function (error) {
			    alert(error.statusText);
		    }
	    });
        }
    }
    async function loadMunicipalityTypeList() {
        var permanentMunicipalityType = $("#PermanentMunicipalityTypeId").val();
        var tempMunicipalityType = $("#TemporaryMunicipalityTypeId").val();
        if (permanentMunicipalityType.length == 0 || tempMunicipalityType.length == 0) {
            await $.ajax({
		        url: '@Url.Action("GetMunicipalityType", "Ajax")',
		        type: 'get',
                async: true,
                cache: false,
                processData: false,
		        contentType: 'application/json',
                success: function (response) {
                    if (permanentMunicipalityType.length == 0) {
                        $('#PermanentMunicipalityTypeId').empty();
                        $('#PermanentMunicipalityTypeId').append('<option value="">Select Type</option>');
                        $.each(response, function (index, row) {
                            $('#PermanentMunicipalityTypeId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                        });
                    }
                    if (tempMunicipalityType.length == 0) {
                        $('#TemporaryMunicipalityTypeId').empty();
                        $('#TemporaryMunicipalityTypeId').append('<option value="">Select Type</option>');
                        $.each(response, function (index, row) {
                            $('#TemporaryMunicipalityTypeId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                        });
                    }
		        },
                error: function (error) {

		        }
	        });
        }
    }
    function loadOutsideCountryList() {
        var permanentCountry = $("#PermanentCountryId").val();
        var tempCountry = $("#TemporaryCountryId").val();
        if (permanentCountry.length == 0 || tempCountry.length == 0) {
                $.ajax({
		        url: '@Url.Action("GetOutsideCountry", "Ajax")',
		        type: 'get',
                async: true,
                cache: false,
                processData: false,
		        contentType: 'application/json',
                success: function (response) {
                    if (permanentCountry.length == 0) {
                        $('#PermanentCountryId').empty();
                        $('#PermanentCountryId').append('<option value="">Select Country</option>');
                        $.each(response, function (index, row) {
                            $('#PermanentCountryId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                        });
                    }
                    if (tempCountry.length == 0) {
                        $('#TemporaryCountryId').empty();
                        $('#TemporaryCountryId').append('<option value="">Select Country</option>');
                        $.each(response, function (index, row) {
                            $('#TemporaryCountryId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                        });
                    }
		        },
		        error: function (error) {
			        //alert(error.statusText);
		        }
	        });
        }

    }
     $('.province').change(function () {
        var provinceId = $(this).val();
        var idName = $(this).attr('id');
        loadDistrictList(provinceId, idName);
     });
    function loadDistrictList(provinceId, idName, PermanentDistrictIdValue = null, TemporaryDistrictIdValue = null) {
         $.ajax({
             url: '@Url.Action("GetDistrictByProvinceId", "Ajax")?provinceId=' + provinceId,
             data: { provinceId: provinceId },
             type: 'get',
             async: true,
             cache: false,
             processData: false,
             contentType: 'application/json',
             success: function (response) {
                 if (idName.toLowerCase() == 'permanentprovinceid') {
                     $('#PermanentDistrictId').empty();
                     $('#PermanentDistrictId').append('<option value="">Select District</option>');
                     $.each(response, function (index, row) {
                         console.log(row);
                         $('#PermanentDistrictId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                     });
                     if (PermanentDistrictIdValue != null) {
                         $('#PermanentDistrictId').val(PermanentDistrictIdValue)
                     }
                 }
                 if (idName.toLowerCase() == 'temporaryprovinceid') {
                     $('#TemporaryDistrictId').empty();
                     $('#TemporaryDistrictId').append('<option value="">Select District</option>');
                     $.each(response, function (index, row) {
                         console.log(row);
                         $('#TemporaryDistrictId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                     });
                     if (TemporaryDistrictIdValue != null) {
                         $('#TemporaryDistrictId').val(TemporaryDistrictIdValue)
                     }
                 }
             },
             error: function (error) {
                 alert(error.statusText);
             }
         });
    }
    function clearPermanentInsideAddressData() {
        $("#PermanentProvinceId").val($("#PermanentProvinceId option:first").val());
        $("#PermanentProvinceId").parent().addClass('form-group').removeClass('error');

        $('#PermanentDistrictId').empty();
        $('#PermanentDistrictId').parent().addClass('form-group').removeClass('error');
        $('#PermanentDistrictId').append('<option value=""> Select District </option>')

        $("#PermanentMunicipalityTypeId").val($("#PermanentMunicipalityTypeId option:first").val());
        $("#PermanentMunicipalityTypeId").parent().addClass('form-group').removeClass('error');

        $("input[name='PermanentMunicipality']").val('');
        $("input[name='PermanentMunicipality']").parent().addClass('form-group').removeClass('error');

        $("input[name='PermanentWardNumber']").val('');
        $("input[name='PermanentWardNumber']").parent().addClass('form-group').removeClass('error');

        $("input[name='PermanentToleName']").val('');
        $("input[name='PermanentToleName']").parent().addClass('form-group').removeClass('error');
    }
    function clearPermanentOutsideAddressData() {
        $("#PermanentCountryId").val($("#PermanentCountryId option:first").val());
        $("#PermanentCountryId").parent().addClass('form-group').removeClass('error');

        $("input[name='PermanentAddress']").val('');
        $("input[name='PermanentAddress']").parent().addClass('form-group').removeClass('error');
    }
    function clearTempInsideAddressData() {
        $("#TemporaryProvinceId").val($("#TemporaryProvinceId option:first").val());
        $("#TemporaryProvinceId").parent().addClass('form-group').removeClass('error');

        $('#TemporaryDistrictId').empty();
        $('#TemporaryDistrictId').parent().addClass('form-group').removeClass('error');
        $('#TemporaryDistrictId').append('<option value=""> Select District </option>')

        $("#TemporaryMunicipalityTypeId").val($("#TemporaryMunicipalityTypeId option:first").val());
        $("#TemporaryMunicipalityTypeId").parent().addClass('form-group').removeClass('error');

        $("input[name='TemporaryMunicipality']").val('');
        $("input[name='TemporaryMunicipality']").parent().addClass('form-group').removeClass('error');

        $("input[name='TemporaryWardNumber']").val('');
        $("input[name='TemporaryWardNumber']").parent().addClass('form-group').removeClass('error');

        $("input[name='TemporaryToleName']").val('');
        $("input[name='TemporaryToleName']").parent().addClass('form-group').removeClass('error');
    }
    function clearTempOutsideAddressData() {
        $("#TemporaryCountryId").val($("#TemporaryCountryId option:first").val());
        $("#TemporaryCountryId").parent().addClass('form-group').removeClass('error');

        $("input[name='TemporaryAddress']").val('');
        $("input[name='TemporaryAddress']").parent().addClass('form-group').removeClass('error');
    }
    $("input[type='radio']").click(function () {
        var id = $(this).attr('id');
        if (id.toLowerCase() == "permanentradio") {
            var checked = $("input[name='PermanentIsOutsideNepal']:checked").val();
            if (checked == "true") {
                clearPermanentInsideAddressData();
                $("#permanentInsideNepalAddress").hide();
                $("#permanentOutsideNepalAddress").show();
                //loadOutsideCountryList();
            }
            else {
                clearPermanentOutsideAddressData();
                $("#permanentInsideNepalAddress").show();
                $("#permanentOutsideNepalAddress").hide();
            }
        }

        else if (id.toLowerCase() == "tempradio") {
            var checked = $("input[name='TemporaryIsOutsideNepal']:checked").val();
            if (checked == "true") {
                clearTempInsideAddressData();
                $("#tempInsideNepalAddress").hide();
                $("#tempOutsideNepalAddress").show();
                //loadOutsideCountryList();
            }
            else {
                clearTempOutsideAddressData();
                $("#tempInsideNepalAddress").show();
                $("#tempOutsideNepalAddress").hide();
            }
        }
    })
    function loadAddress() {
        var memberId = $("#MemberId").val();
        $.ajax({
            type: 'get',
            url: '/MemberRegister/GetMemberAddress',
            data: { memberId: memberId },
            success: function (response) {
                if (response != null) {
                    setMemberAddress(response);
                }
            }
        })
    }
    function setMemberAddress(resp) {
        $("input[name=PermanentIsOutsideNepal][value=" + resp.PermanentIsOutsideNepal + "]").prop('checked', true);
        $("input[name=TemporaryIsOutsideNepal][value=" + resp.TemporaryIsOutsideNepal + "]").prop('checked', true);

        if (resp.PermanentIsOutsideNepal == true) {
            $("#permanentOutsideNepalAddress").show();
            $("#permanentInsideNepalAddress").hide();

            $("#PermanentCountryId").val(resp.PermanentCountryId);
            $("#PermanentAddress").val(resp.PermanentAddress);
        }
        else {
            $("#permanentOutsideNepalAddress").hide();
            $("#permanentInsideNepalAddress").show();

            $("#PermanentProvinceId").val(resp.PermanentProvinceId);
            loadDistrictList(resp.PermanentProvinceId, 'permanentprovinceid', resp.PermanentDistrictId);
            $("#PermanentMunicipalityTypeId").val(resp.PermanentMunicipalityTypeId);
            $("#PermanentMunicipality").val(resp.PermanentMunicipality);
            $("#PermanentWardNumber").val(resp.PermanentWardNumber);
            $("#PermanentToleName").val(resp.PermanentToleName);
            
        }

        if (resp.TemporaryIsOutsideNepal == true) {
            $("#tempInsideNepalAddress").hide();
            $("#tempOutsideNepalAddress").show();

            $("#TemporaryCountryId").val(resp.TemporaryCountryId);
            $("#TemporaryAddress").val(resp.TemporaryAddress);
        }
        else {
            $("#tempInsideNepalAddress").show();
            $("#tempOutsideNepalAddress").hide();

            $("#TemporaryProvinceId").val(resp.TemporaryProvinceId);
            loadDistrictList(resp.TemporaryProvinceId, 'temporaryprovinceid', null, resp.TemporaryDistrictId);

            $("#TemporaryMunicipalityTypeId").val(resp.TemporaryMunicipalityTypeId);
            $("#TemporaryMunicipality").val(resp.TemporaryMunicipality);
            $("#TemporaryWardNumber").val(resp.TemporaryWardNumber);
            $("#TemporaryToleName").val(resp.TemporaryToleName);
        }
    }
    //data load for step3 ends


    //data load for step4 starts
    function loadMemberFieldList() {
        var memberField = $("#MemberFieldId").val();
         if (memberField.length == 0) {
                $.ajax({
		        url: '@Url.Action("GetMemberField", "Ajax")',
		        type: 'get',
                async: true,
                cache: false,
                processData: false,
		        contentType: 'application/json',
                success: function (response) {
                    $('#MemberFieldId').empty();
                    $('#MemberFieldId').append('<option value="">Interested Field</option>');
                    $.each(response, function (index, row) {
                        $('#MemberFieldId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                    });
		        },
		        error: function (error) {
		        }
	        });
        }
    }
    function loadOccupationList() {
        var occupation = $("#OccupationId").val();
        if (occupation.length == 0) {
            $.ajax({
		        url: '@Url.Action("GetOccupation", "Ajax")',
		        type: 'get',
                async: true,
                cache: false,
                processData: false,
		        contentType: 'application/json',
                success: function (response) {
                    debugger;
                    $('#OccupationId').empty();
                    $('#OccupationId').append('<option value="">Select Occupation</option>');
                    $.each(response, function (index, row) {
                        console.log(row);
                        $('#OccupationId').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                    });
		        },
                    error: function (error) {

		        }
	        });
        }
    }
    $("#OccupationId").change(function () {
        var data = $("#OccupationId option:selected").text();
        if (data.toLowerCase() == "other") {
            $('#occupationDiv').show();
        }
        else {
            $('#OtherOccupationRemarks').val('');
            $('#occupationDiv').hide();
        }
    })
    //data load for step4 ends
</script>
<!--Data load ends-->

<script>
    $(document).ready(function () {
        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("#msform form ").length;
        setProgressBar(current);
        loadGenderList();
        loadFieldData();
       
        $("#permanentOutsideNepalAddress").hide();
        $("#tempOutsideNepalAddress").hide();

        $(".next").click(function () {
            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            var test = formValidationAndSubmission(current);
            if (test == false)
                return false;
            var formUrl = "/MemberRegister/PostPersonalInfo";
            var formdata = $("#step1").serialize();
            if (current == 2) {
                formUrl = "/MemberRegister/ContactInfo";
                formdata = $("#step2").serialize();
            }
            else if (current == 3) {
                formUrl = "/MemberRegister/AddModifyAddress";
                formdata = $("#step3").serialize();
            }
            else if (current == 4) {
                formUrl = "/MemberRegister/MemberOccupation";
                formdata = $("#step4").serialize();
            }
            formdata = formdata + '&MemberId=' + $("#MemberId").val()

            //$("#progressbar li").eq($("form").index(next_fs)).addClass("active");
            ////show the next fieldset
            //next_fs.show();
            ////hide the current fieldset with style
            //current_fs.animate({ opacity: 0 }, {
            //    step: function (now) {
            //        // for making fielset appear animation
            //        opacity = 1 - now;
            //        current_fs.css({
            //            'display': 'none',
            //            'position': 'relative'
            //        });
            //        next_fs.css({ 'opacity': opacity });
            //    },
            //    duration: 500
            //});
            //setProgressBar(++current);
            //loadData(current);
            //return false;
            $.ajax({
                type: "post",
                url: formUrl,
                data: formdata,
                success: function (response) {
                    debugger;
                    if (response.status == "success") {
                        //Add Class Active
                        if (response.successData > 0) {
                            $("#MemberId").val(response.successData)
                            $("#progressbar li").eq($("form").index(next_fs)).addClass("active");
                            //show the next fieldset
                            next_fs.show();
                            //hide the current fieldset with style
                            current_fs.animate({ opacity: 0 }, {
                                step: function (now) {
                                    // for making fielset appear animation
                                    opacity = 1 - now;
                                    current_fs.css({
                                        'display': 'none',
                                        'position': 'relative'
                                    });
                                    next_fs.css({ 'opacity': opacity });
                                },
                                duration: 500
                            });
                            setProgressBar(++current);
                            loadData(current);
                        }
                        else {
                            ShowErrorMessage("Something went wrong....!!");
                        }
                    }
                    else if (response.status == "error") {
                        MapServerSideError(response);
                    }
                },
                error: function (err) {
                }
            });

        });
        $(".previous").click(function () {
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("form").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
            loadData(current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })
    });
    function MapServerSideError(response) {
        console.log(response);
        $.each(response.errorData, function (index, row) {
            var idName = "#" + row.Key;
            var element = $(idName);
            removeErrorClasses(element);
            if (row.Key != null && row.Value != null) {
                AddErrorClasses(element)
                AddErrorMessage(element, row.Value);
            }
        })
    }
</script>

<!--form validation starts-->
<script>
    function formValidationAndSubmission(current) {
        if (current == 1) {
            var valid = FirstNameValidation();
            var valid1 = MiddleNameValidation();
            var valid2 = LastNameValidation();
            var valid3 = GenderIdValidation();
            var valid4 = DateOfBirthBSValidation();
            var valid5 = CitizenshipNumberValidation();
            if (valid == false || valid1 == false || valid2 == false || valid3 == false
                || valid4 == false || valid5 == false) {
                return false;
            }
        }
        else if (current == 2) {
            var valid = MobileNumberValidation();
            var valid1 = EmailValidation();
            if (valid == false || valid1 == false) {
                return false;
            }
        }
        else if (current == 3) {
            var valid = PermanentProvinceIdValidation();
            var valid1 = PermanentDistrictIdValidation();
            var valid2 = PermanentMunicipalityTypeIdValidation();
            var valid3 = PermanentMunicipalityValidation();
            var valid4 = PermanentWardNumberValidation();
            var valid5 = PermanentToleNameValidation();

            var valid6 = TemporaryProvinceIdValidation();
            var valid7 = TemporaryDistrictIdValidation();
            var valid8 = TemporaryMunicipalityTypeIdValidation();
            var valid9 = TemporaryMunicipalityValidation();
            var valid10 = TemporaryWardNumberValidation();
            var valid11 = TemporaryToleNameValidation();

            var valid12 = PermanentCountryIdValidation();
            var valid13 = PermanentAddressValidation();
            var valid14 = TemporaryCountryIdValidation();
            var valid15 = TemporaryAddressValidation();
            if (!valid || !valid1 || !valid2 || !valid3 || !valid4 || !valid5 || !valid6
                || !valid7 || !valid8 || !valid9 || !valid10 || !valid11
                || !valid12 || !valid13 || !valid14 || !valid15)
                return false;
        }
        else if (current == 4) {
            var valid = OccupationIdValidation();
            var valid1 = OtherOccupationRemarksValidation();
            var valid2 = MemberFieldIdValidation();
            if (!valid || !valid1 || !valid2)
                return false;
        }
        else if (current == 5) {
            var valid = MemberImageValidation();
            var valid1 = CitizenshipFrontImageValidation();
            var valid2 = CitizenshipBackImageValidation();
            if (!valid || !valid1 || !valid2) return false;
        }
        return true;
    }

</script>
<!--form validation ends-->

<!--form validation on event-->
<script>
    $(this).keyup(function (event) {
        var name = $(event.target).attr("id");
        var functionName = name + 'Validation';
        var fn = window[functionName];
        if ($.isFunction(fn)) {
            window[functionName]();
        }
    })
    $(this).change(function (event) {
        var name = $(event.target).attr("id");
        var functionName = name + 'Validation';
        var fn = window[functionName];
        if ($.isFunction(fn)) {
            window[functionName]();
        }
    })
</script>

<!--form validation-->
<script>
    //step1 starts
    function CitizenshipNumberValidation() {
        //var CitizenshipNumber = $('input[name="CitizenshipNumber"]');
        //var isValid = RequiredHandling(CitizenshipNumber);
        //if (isValid == false) {
        //    return false;
        //}
        //isValid = MaxlengthHandling(CitizenshipNumber, 20);
        //if (isValid == false) {
        //    return false;
        //}
        //return true;
        var valid = ElementValidation('CitizenshipNumber', 'required', 'maxlength', 10)
        return valid;
    }
    function DateOfBirthBSValidation() {
        var valid = ElementValidation('DateOfBirthBS', 'required', 'maxlength', 10)
        return valid;
    }
    function GenderIdValidation() {
        var valid = ElementValidation('GenderId', 'required')
        return valid;
    }
    function LastNameValidation() {
        var valid = ElementValidation('LastName', 'required', 'maxlength', 20)
        return valid;
    }
    function FirstNameValidation() {
        var valid = ElementValidation('FirstName', 'required', 'maxlength', 20)
        return valid;
    }
    function MiddleNameValidation() {
        var valid = ElementValidation('MiddleName', null, 'maxlength', 20)
        return valid;
    }
    //step1 ends
    //step 2 starts
    function MobileNumberValidation() {
        var valid = ElementValidation('MobileNumber', 'required', 'maxlength', 20)
        return valid;
    }
    function EmailValidation() {
        var valid = ElementValidation('Email', 'required', 'maxlength', 150)
        return valid;
    }
    //step2 ends

    //step3 starts
    function PermanentProvinceIdValidation() {
        var permanentRadio = $("input[name='PermanentIsOutsideNepal']:checked").val();
        if (permanentRadio == "false") {
            var valid = ElementValidation('PermanentProvinceId', 'required');
            return valid;
        }
        return true;
    }
    function PermanentDistrictIdValidation() {
        var permanentRadio = $("input[name='PermanentIsOutsideNepal']:checked").val();
        if (permanentRadio == "false") {
            var valid = ElementValidation('PermanentDistrictId', 'required');
            return valid;
        }
        return true;
    }
    function PermanentMunicipalityTypeIdValidation() {
        debugger;
        var permanentRadio = $("input[name='PermanentIsOutsideNepal']:checked").val();
        if (permanentRadio == "false") {
            var valid = ElementValidation('PermanentMunicipalityTypeId', 'required');
            return valid;
        }
        return true;
    }
    function PermanentMunicipalityValidation() {
        var permanentRadio = $("input[name='PermanentIsOutsideNepal']:checked").val();
        if (permanentRadio == "false") {
            var valid = ElementValidation('PermanentMunicipality', 'required');
            return valid;
        }
        return true;
    }
    function PermanentWardNumberValidation() {
        var permanentRadio = $("input[name='PermanentIsOutsideNepal']:checked").val();
        if (permanentRadio == "false") {
            var valid = ElementValidation('PermanentWardNumber', 'required', 'maxlength', 4);
            return valid;
        }
        return true;
    }
    function PermanentToleNameValidation() {
        var permanentRadio = $("input[name='PermanentIsOutsideNepal']:checked").val();
        if (permanentRadio == "false") {
            var valid = ElementValidation('PermanentToleName', 'required');
            return valid;
        }
        return true;
    }

    function PermanentCountryIdValidation() {
        var permanentRadio = $("input[name='PermanentIsOutsideNepal']:checked").val();
        if (permanentRadio == "true") {
            var valid = ElementValidation('PermanentCountryId', 'required');
            return valid;
        }
        return true;
    }
    function PermanentAddressValidation() {
        var permanentRadio = $("input[name='PermanentIsOutsideNepal']:checked").val();
        if (permanentRadio == "true") {
            var valid = ElementValidation('PermanentAddress', 'required');
            return valid;
        }
        return true;
    }

    function TemporaryProvinceIdValidation() {
        var temporaryRadio = $("input[name='TemporaryIsOutsideNepal']:checked").val();
        if (temporaryRadio == "false") {
            var valid = ElementValidation('TemporaryProvinceId', 'required');
            return valid;
        }
        return true;
    }
    function TemporaryDistrictIdValidation() {
        var temporaryRadio = $("input[name='TemporaryIsOutsideNepal']:checked").val();
        if (temporaryRadio == "false") {
            var valid = ElementValidation('TemporaryDistrictId', 'required');
            return valid;
        }
        return true;
    }
    function TemporaryMunicipalityTypeIdValidation() {
        var temporaryRadio = $("input[name='TemporaryIsOutsideNepal']:checked").val();
        if (temporaryRadio == "false") {
            var valid = ElementValidation('TemporaryMunicipalityTypeId', 'required');
            return valid;
        }
        return true;
    }
    function TemporaryMunicipalityValidation() {
        var temporaryRadio = $("input[name='TemporaryIsOutsideNepal']:checked").val();
        if (temporaryRadio == "false") {
            var valid = ElementValidation('TemporaryMunicipality', 'required');
            return valid;
        }
        return true;
    }
    function TemporaryWardNumberValidation() {
        var temporaryRadio = $("input[name='TemporaryIsOutsideNepal']:checked").val();
        if (temporaryRadio == "false") {
            var valid = ElementValidation('TemporaryWardNumber', 'required', 'maxlength', 4);
            return valid;
        }
        return true;
    }
    function TemporaryToleNameValidation() {
        var temporaryRadio = $("input[name='TemporaryIsOutsideNepal']:checked").val();
        if (temporaryRadio == "false") {
            var valid = ElementValidation('TemporaryToleName', 'required');
            return valid;
        }
        return true;
    }

    function TemporaryCountryIdValidation() {
        var temporaryRadio = $("input[name='TemporaryIsOutsideNepal']:checked").val();
        if (temporaryRadio == "true") {
            var valid = ElementValidation('TemporaryCountryId', 'required');
            return valid;
        }
        return true;
    }
    function TemporaryAddressValidation() {
        var temporaryRadio = $("input[name='TemporaryIsOutsideNepal']:checked").val();
        if (temporaryRadio == "true") {
            var valid = ElementValidation('TemporaryAddress', 'required');
            return valid;
        }
        return true;
    }
    //step3 ends

     //step4 starts
    function OccupationIdValidation() {
        var valid = ElementValidation('OccupationId', 'required');
        return valid;
    }
    function OtherOccupationRemarksValidation() {
        var data = $("#OccupationId option:selected").text();
        if (data.toLowerCase() == "other") {
            var valid = ElementValidation('OtherOccupationRemarks', 'required','maxlength',150);
            return valid;
        }
        return true;
    }
    function MemberFieldIdValidation() {
        var valid = ElementValidation('MemberFieldId', 'required');
        return valid;
    }
    //step4 ends

    //step5 starts
    function MemberImageValidation() {
        var valid = ElementValidation('MemberImage', 'required');
        return valid;
    }
    function CitizenshipFrontImageValidation() {
        var valid = ElementValidation('CitizenshipFrontImage', 'required');
        return valid;
    }
    function CitizenshipBackImageValidation() {
        var valid = ElementValidation('CitizenshipBackImage', 'required');
        return valid;
    }
    //step5 ends

</script>

<!--form validation attributes-->
<script>
    function ElementValidation(elementId, required = null, maxlength = null, maxlengthNumber = null) {
        if (required == 'required') {
            var isValid = RequiredHandling(elementId);
            if (isValid == false) return false;
        }
        if (maxlength == 'maxlength') {
            var isValid = MaxlengthHandling(elementId, maxlengthNumber);
            if (isValid == false) return false;
        }
        return true;
    }
    function RequiredHandling(elementId) {
        var element = "#" + elementId;
        var $el = $(element);
        removeErrorClasses(element);
        if (!$el.val()) {
            AddErrorClasses(element)
            AddErrorMessage(element,
                $el.attr('name') + ' is required ')
            return false;
        }
        return true;
    }
    function MaxlengthHandling(elementId, length) {
        var element = "#" + elementId;
        var $el = $(element);
        removeErrorClasses(element);
        if ($el.val().length > length) {
            AddErrorClasses(element)
            AddErrorMessage(element,
                $el.attr('name') + ' must be less than ' + length);
            return false;
        }
        return true;
    }
</script>

<!--Error message handling and class handling-->
<script>
    function removeErrorClasses(element) {
        var $el = $(element);
        $el.parent().addClass('form-group').removeClass('error');
        $el.parent().removeClass('.error-message');
        $el.parent().find('.error-message').remove();
    }
    function AddErrorClasses(element) {
        var $el = $(element);
        $el.parent().removeClass('form-group');
        $el.parent().addClass('error');
    }
    function AddErrorMessage(element, message) {
        var $el = $(element);
        $el.parent().append('<label class="error-message">' + message + '</label>');
    }
</script>



