
@{
    ViewBag.Title = "MemberRegistration";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<style>
    .py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .text-decoration-none {
        margin-bottom: 2%;
    }

    #wizard_div {
        margin-top: -65px;
    }
</style>

<link href="~/assets/css/multi-tier-form/form-wizard.css" rel="stylesheet" />
<section class="service-wrapper py-3">
    <div class="service-tag py-5 bg-secondary">
        <div class="col-md-12">
            <ul class="nav d-flex justify-content-center">
                <li class="nav-item mx-lg-4">
                    <p class=" text-light px-4 light-300">Registeration form</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="container py-5">
    <div class="container-fluid" id="wizard_div">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <div id="msform">
                        <p>Fill all form field to go to next step</p>
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>Basic</strong></li>
                            <li id="contact"><strong>Contact</strong></li>
                            <li id="address"><strong>Address</strong></li>
                            <li id="occupation"><strong>Occupation</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <!-- progressbar -->
                        <form>
                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Basic Information:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 1 - 4</h2>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="fieldlabels">
                                            FirstName:
                                        </label>
                                        <input type="text" name="FirstName"
                                               placeholder="First Name" />
                                    </div>
                                    <div class="form-group">
                                        <label class="fieldlabels">
                                            MiddleName:
                                        </label>
                                        <input type="text" name="MiddleName"
                                               placeholder="Middle Name"
                                               autocomplete="off" />
                                    </div>
                                    <div class="form-group">
                                        <label class="fieldlabels">
                                            Last Name:
                                        </label>
                                        <input type="text" name="LastName"
                                               placeholder="Last Name" />
                                    </div>
                                    <div class="form-group">
                                        <label class="fieldlabels">
                                            Gender:
                                        </label>
                                        <select class="form-control">

                                            @foreach (var x in ViewBag.Gender)
                                            {
                                                <option value="@x.GenderId">
                                                    @x.GenderName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="fieldlabels">
                                            Citizenship Number:
                                        </label>
                                        <input type="text" name="CitizenshipNumber"
                                               placeholder="CitizenshipNumber" />
                                    </div>
                                    <div class="form-group">
                                        <label class="fieldlabels">
                                            Date of Birth:
                                        </label>
                                        <input type="text" name="DateOfBirthBS"
                                               placeholder="YYYY-MM-DD"
                                               autocomplete="off" id="DateOfBirthBS" 
                                            onkeypress="AllowForDate(event)"
                                                oninput="AllowForDate(event)"/>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next" class="next action-button" value="Next Step" />
                        </form>
                        <form>
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Contact Details:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 2 - 4</h2>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="fieldlabels">
                                            Mobile Number:
                                        </label>
                                        <input type="text" name="MobileNumber"
                                               placeholder="Mobile Number"
                                               onkeypress="AllowNumberOnly(event)" />
                                    </div>
                                    <div class="form-group">
                                        <label class="fieldlabels">
                                            Email Address:
                                        </label>
                                        <input type="text" name="Email"
                                               placeholder="Email Address" />
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Next" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>
                        <form>
                            @*<fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Image Upload:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 3 - 4</h2>
                                        </div>
                                    </div> <label class="fieldlabels">Upload Your Photo:</label> <input type="file" name="pic" accept="image/*"> <label class="fieldlabels">Upload Signature Photo:</label> <input type="file" name="pic" accept="image/*">
                                </div>
                            </fieldset>*@
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Address Details:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 3 - 4</h2>
                                        </div>
                                    </div>
                                    <label>Permanent Address</label><br />
                                    <label class="fieldlabels">
                                        Is Outside Nepal?:
                                    </label>
                                    <div class="form-group">
                                        <input type="radio" name="IsOutsideNepal"
                                               value="true" />Yes
                                        <input type="radio" name="IsOutsideNepal"
                                               value="true" checked="checked" />No
                                    </div>
                                    <div class="form-group">
                                        <label class="fieldlabels">
                                            Province:
                                        </label>
                                        <select class="form-control province" 
                                                id="permanentProvince">
                                            <option value="" selected="selected">
                                                Select Province
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="fieldlabels">
                                            District:
                                        </label>
                                        <select class="form-control" id="permanentDistrict">
                                            <option value="" selected="selected">
                                                Select District
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Submit" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>
                        <form>
                            <fieldset>
                                @*<div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Finish:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">Step 4 - 4</h2>
                                        </div>
                                    </div> <br><br>
                                    <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                    <div class="row justify-content-center">
                                        <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                    </div> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                        </div>
                                    </div>
                                </div>*@
                            </fieldset>
                            <input type="button" name="next"
                                   class="next action-button" value="Submit" />
                            <input type="button" name="previous"
                                   class="previous action-button-previous"
                                   value="Previous" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/front-end/js/jquery.min.js"></script>
@*<script src="~/assets/custom-plugin/multi-tier-form/form-wizard.js"></script>*@
@Scripts.Render("~/web/nepali-date-picker")
@Scripts.Render("~/web/back-end/message")
<script>
    $(document).ready(function () {
        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("#msform form ").length;
        setProgressBar(current);

        $(".next").click(function () {
            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("form").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;
                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(++current);
            if (current == 3)
                loadProvinceList();
        });

        $(".previous").click(function () {
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("form").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
            if (current == 3)
                loadProvinceList();
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })

    });

    function loadProvinceList() {
        var permanentProvince = $("#permanentProvince").val();
        $.ajax({
		    url: '@Url.Action("GetProvince", "Ajax")',
		    type: 'get',
            async: true,
            cache: false,
            processData: false,
		    contentType: 'application/json',
            success: function (response) {
                if (permanentProvince.length == 0) {
                    $('#permanentProvince').empty();
                    $('#permanentProvince').append('<option value="">Select Province</option>');
                    $.each(response, function (index, row) {
                        $('#permanentProvince').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                    });
                }
		    },
		    error: function (error) {
			    alert(error.statusText);
		    }
	    });
    }

    $('.province').change(function () {
        var provinceId = $(this).val();
        var idName = $(this).attr('id');
        loadDistrictList(provinceId, idName);
    });

    async function loadDistrictList(provinceId, idName) {
        alert(provinceId)
        alert(idName)
         $.ajax({
             //url: '/Ajax/GetDistrictByProvinceId',
             url: '@Url.Action("GetDistrictByProvinceId", "Ajax")?provinceId=' + provinceId,
             data: { provinceId: provinceId },
             type: 'get',
             async: true,
             cache: false,
             processData: false,
             contentType: 'application/json',
             success: function (response) {
                 if (idName.toLowerCase() == 'permanentprovince') {
                     $('#permanentDistrict').empty();
                     $('#permanentDistrict').append('<option value="">Select District</option>');
                     $.each(response, function (index, row) {
                         console.log(row);
                         $('#permanentDistrict').append('<option value=' + row.Id + '>' + row.Value + '</option>')
                     });
                 }
             },
             error: function (error) {
                 alert(error.statusText);
             }
         });
     }

</script>



